@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik.ttf);
}

* {
  box-sizing: border-box;
  font-family: Rubik, Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Login */
.login {
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-c {
  width: 500px;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.05);
  border-radius: 30px;
  padding: 30px 50px;
}

.login-c h1 {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #7e98df;
  margin-bottom: 30px;
}

.login-c form {
  max-height: 542px;
  overflow-y: auto;
  padding: 0 20px;
}

.welcome {
  font-size: 14px;
  line-height: 17px;
  color: #232323;
}

#input-group-1,
#input-group-2,
#input-group-3,
#input-group-4 {
  font-size: 14px;
  line-height: 17px;
  color: #848484;
  opacity: 0.75;
  margin: 30px auto;
}

#input-1,
#input-2,
#input-3,
#input-4 {
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.forgot {
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #7e98df;
  margin: 30px auto;
}

.forgot:hover {
  text-decoration: none;
}

.login-btn {
  width: 100%;
  height: 60px;
  background: #7e98df;
  border-radius: 70px;
  border: none;
}

.login-btn:hover {
  background: #6987da;
}

.login-btn:active,
.login-btn:focus {
  background: #5277db !important;
}

.alt-login {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #848484;
  margin: 30px auto;
}

.google-btn {
  width: 100%;
  height: 60px;
  background: #ffffff;
  border: 1px solid #7e98df;
  border-radius: 70px;
  color: #7e98df;
}

.google-btn:hover {
  background: #ffffffc0;
  color: #7e98df;
  border: 1px solid #6285e6;
}

.google-btn:active,
.google-btn:focus {
  background: #ffffffb0 !important;
  color: #7e98df !important;
  border: 1px solid #5881f3 !important;
}

.sign-up {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #313131;
  margin: 30px auto;
}

.sign-up span {
  color: #7e98df;
}

/* Home */
.home-left {
  padding: 0;
  border-right: 1px solid #e5e5e5;
}

.list-header {
  margin: 20px auto 10px;
}

.list-header p {
  font-size: 29px;
  line-height: 34px;
  letter-spacing: -0.165px;
  color: #7e98df;
}

#pop-burger {
  cursor: pointer;
}

.popover {
  background: #7e98df;
  border-radius: 35px 10px 35px 35px;
  border: none;
  z-index: 1;
}

.burger-menu {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #ffffff;
  padding: 10px 0 5px 0;
}

.burger-menu p {
  padding: 2px 0 0 10px;
}

.side-profile-header {
  text-align: center;
}

.side-profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin: 20px auto 10px;
}

.edit-icon p {
  font-style: normal !important;
  font-size: 12px !important;
  color: #9ea0a5 !important;
}

.side-profile-header p {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.165px;
  color: #232323;
}

.side-profile h4 {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #232323;
  margin: 20px auto;
}

.side-profile h6 {
  color: #7e98df;
}

.side-profile p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.335px;
  color: #232323;
}

.side-settings .col-11 {
  padding: 4px 0 0;
}

.side-settings p {
  cursor: pointer;
  font-size: 16px;
}

.contact-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.contact-row {
  margin: 30px auto;
}

.chat-btn,
.chat-btn:hover,
.chat-btn:active,
.chat-btn:focus {
  background-color: Transparent;
  border-color: #7e98df;
  outline: none;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0 2px;
}

.delete-btn,
.delete-btn:hover,
.delete-btn:active,
.delete-btn:focus {
  background-color: Transparent;
  border-color: #ff0000;
  outline: none;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0 2px;
}

.list-options {
  margin: 0 auto 10px;
}

.list-options input {
  background-image: url('../icon/Search.png');
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  background-color: #fafafa;
  padding: 0 10px 0 40px;
  border-radius: 15px;
}

.rooms-c {
  max-height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-rooms {
  margin: 30px auto;
}

.rooms-pict {
  width: 64px;
  height: 64px;
  border-radius: 20px;
}

.rooms-name {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.165px;
  color: #232323;
  margin-bottom: 5px;
}

.rooms-c .unread,
.rooms-c .read {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  margin: 20px auto 0;
}

.rooms-c .unread {
  color: #7e98df;
}

.rooms-time {
  text-align: right;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.165px;
  color: #848484;
}

.counter {
  min-width: 20px;
  height: 20px;
  background: #7e98df;
  border-radius: 30px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #ffffff;
}

.empty-room {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-room p {
  font-size: 24px;
  line-height: 28px;
  color: #848484;
}

.room {
  padding: 0;
}

.room-header {
  height: 98px;
}

.room-header-row {
  margin: 30px auto 0;
}

.room-name {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.165px;
  color: #232323;
  margin: 0 auto;
}

.room-status {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.165px;
  color: #7e98df;
  margin: 0 auto;
}

#chat-c {
  background-color: #eeeeee;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
}

.sender,
.receiver {
  font-size: 15px;
  line-height: 185.17%;
  letter-spacing: -0.165px;
  padding: 10px 20px;
  margin: 20px 20px 10px;
  max-width: 290px;
}

.sender {
  border-radius: 35px 35px 35px 10px;
  background: #7e98df;
  color: #ffffff;
}

.receiver {
  border-radius: 35px 35px 10px 35px;
  background: #ffffff;
  color: #232323;
}

.input-c input {
  margin: 20px auto;
  background-color: #fafafa;
  border-radius: 15px;
}

.input-c button {
  margin: 20px auto;
  background: #7e98df;
  border: none;
  border-radius: 15px;
}

.input-c button:hover {
  background: #6987da;
}

.input-c button:active,
.input-c button:focus {
  background: #5277db !important;
}
